id:buy.same {
	process:(methodid)=xxx.xxx->xxx.xxx->xxx.xxx
	process:(methodName)=xxx.xxxx->xxx->i:(){xxx.xxx}ei():{xxx.xxx}->xxx.xxx[ppp]
 }

 id:buy.same {
 	process:(methodid)=xxx.xxx->xxx.xxx->xxx.xxx
 	process:(methodName)=xxx.xxxx->xxx->i:(){xxx.xxx}ei():{xxx.xxx}->xxx.xxx[ppp]->!buy.same.methodid
 }